body{
    font-family: arial;
}

/*header8*/

header {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(114, 114, 114);
    color: white;
    text-align: center;
    z-index: 1;
}
button.openNav, button.closeNav{
    position: absolute;
    left: 10px;
    top: 15px;
    width: 50px;
    height: 50px;
}
button.cart{
    
}
/*nav sidebar*/
nav.sidebar{
    display: none;
    position: fixed;
    top: 0;
    left:0;
    z-index: 2;
    background-color: rgb(49, 49, 49);
    height: 100%;
}
nav.sidebar ul li a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}
nav.sidebar ul{
    list-style-type: none;
    padding-left: 10px;
    padding-top: 100px;
}
nav.sidebar ul li{
    padding-left: 20px;
    padding-right:40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav.sidebar ul li:hover{
    background-color: rgb(114, 114, 114);
}
nav.sidebar hr{
    position: absolute;
    top:70px;
    width:100%;
    color: rgb(114, 114, 114);
    background-color: rgb(114, 114, 114);
    border: none;
    height: 2px;
}
